{% extends "base.html" %}

{% block title %}
    Slim App Demo
{% endblock %}

{% block body %}
    <h1>
        Slim App Demo
    </h1>
    <p>
        This is a sample application to show an approach to integration and unit
        testing a Slim application.
        <ul>
            <li><a href="/version">Version</a>
            <li><a href="/zen">Zen</a>
            <li><a href="/reddit-rss">Reddit RSS feed (JSON)</a>
            <li><a href="/php-rss">PHP RSS feed (JSON)</a>
        </ul>
    </p>
{% endblock %}